.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 12em;        /* upphaflega width: 5em; */
	height: 6em;       /* upphaflega height: 5em; */
	background-image: url('/images/batwing.png');
}

.Pipe {
	position: absolute;
	top: 0;
	left: 0;
	width: 12em;
	height: 92em;
	background-image: url('/images/pipes.png');
	background-size: 12em 92em;
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background-image: url('/images/scoreboard.png');
	background-size: 100% 100%;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.score {
	position: absolute;
	top: 0.5em;
	left: 1em;
	font-size: 5em;
}

.Scoreboard-score {
	position: absolute;
	top: 2.5em;
	left: 8em;
	font-size: 4em;
}

.Scoreboard-highscore {
	position: absolute;
	top: 5.5em;
	left: 8em;
	font-size: 4em;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid black;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: black;
}

body {
background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background-image: url('/images/background.png');
	z-index: -1;
}
.Ground {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 112.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: 21.8em;
	overflow: hidden;
	background-image: url('/images/ground.png');
	z-index: -1;

}
.Cloud {
	position: absolute;
	top: 10%;
	left: 100%;
	right: 0;
	width: 20em;
	height: 12em;
	background-image: url('/images/ballons.png');
	overflow: hidden;
	z-index: -1;
	/*background-size: 10em 10em;*/
}
.#muter {
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	width: auto;
}

.PipeTop {
	position: absolute;
	width: 4em;
	height: 100%; 
	margin-top: 30em;
	background-image: url('/images/pipes.png');
	background-repeat: no-repeat;
	z-index: -1;
	/*z-index: -1;*/
}
.PipeBottom {
	position: absolute;
	width: 4em;
	height: 100%; 
	margin-top: -20em;
	background-image: url('/images/pipes.png');
	background-repeat: no-repeat;
	z-index: -1;
	/*z-index: -1;*/
}

.Player-wings {
	position: absolute;
	left: 1em;
	top: 3em;
	height: 3em;
	width: 3em;
	background: #FFCC00;
	transform-origin: top left;
	animation: 0.4s flap alternate infinite;
}

@keyframes flap {
	from {
		transform: rotateX(0);
	}
	to {
		transform: rotateX(180deg);
	}
}