.Player {
  position: absolute;
  top: 0;
  left: 0;
  width: 12em;
  /* upphaflega width: 5em; */
  height: 6em;
  /* upphaflega height: 5em; */
  background-image: url('/images/batwing.png');
}

.Pipe {
  position: absolute;
  top: 0;
  left: 0;
  width: 12em;
  height: 92em;
  background-image: url('/images/pipes.png');
  background-size: 12em 92em;
}

.Scoreboard {
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('/images/scoreboard.png');
  background-size: 100% 100%;
  text-align: center;
  -webkit-transform: translate(0, -40em);
  -webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/

.Scoreboard.is-visible {
  -webkit-transform: none;
}

.Scoreboard-restart {
  margin-top: 20em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid black;
  background: none;
  cursor: pointer;
}

.Scoreboard-restartText {
  font-family: 'Comic Sans MS', serif;
  font-size: 2.4em;
  color: black;
}

body {
  background: black;
}

.browsehappy {
  margin: 0.2em 0;
  background: ?#?ccc?;
  color: #000;
  padding: 0.2em 0;
}

.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background-image: url('/images/background.png');
}

.Ground {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 112.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: 21.8em;
  overflow: hidden;
  background-image: url('/images/ground.png');
}

.Cloud {
  position: absolute;
  top: 10%;
  left: 100%;
  right: 0;
  width: 20em;
  height: 12em;
  background-image: url('/images/ballons.png');
  overflow: hidden;
  /*background-size: 10em 10em;*/
}

.#muter {
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  width: auto;
}